<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payroll</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
	<div id="backgroundimg">
		<div class="row" id="login">
			<div class="small-11 large-6 small-centered large-centered columns">
				<div class="row">
					<div class="large-12 columns" id="title-login">
						<p>Payroll</p>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns" id="login-form">
						<div class="row">
							<div class="large-10 large-centered columns">
								<p>Sign in</p>
							</div>
						</div>
						<div class="row">
							<div class="large-10 large-centered columns">
								<input type="text" placeholder="username">
							</div>
						</div>
						<div class="row">
							<div class="large-10 large-centered columns">
								<input type="password" placeholder="password">
							</div>
						</div>
						<div class="row">
							<div class="large-6 large-centered columns">
								<button type="submit">Log in</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>