<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payroll</title>
		{% load staticfiles %}
    <link rel="stylesheet" href="{% static "profiles/css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/style.css" %}">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
	<div id="backgroundimg">
		{%  if next %}
		<form action="/profile/login/?next={{next}}" class="row" id="login" method="POST">
		{% else %}
		<form action="/profile/login/" class="row" id="login" method="POST">
		{% endif %}
			{% csrf_token %}
			<div class="small-11 large-6 small-centered large-centered columns">
				<div class="row">
					<div class="large-12 columns" id="title-login">
						<p>Payroll</p>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns" id="login-form">
						<div class="row">
							<div class="large-10 large-centered columns">
								<p>Sign in</p>
							</div>
						</div>
						<div class="row">
							<div class="large-10 large-centered columns">
								<input type="text" placeholder="username" name="username"
								>
							</div>
						</div>
						<div class="row">
							<div class="large-10 large-centered columns">
								<input type="password" placeholder="password" name="password">
							</div>
						</div>
						<div class="row">
							<div class="large-6 large-centered columns">
								<button type="submit">Log in</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>




	<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
