<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payroll</title>
    {% load staticfiles %}

		<link rel="stylesheet" href="{% static "profiles/css/normalize.css" %}">

    <link rel="stylesheet" href="{% static "profiles/css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/style.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/jquery.datetimepicker.css" %}">
    <script src="{% static "profiles/js/vendor/modernizr.js" %}"></script>


</head>
<body>
	<div id="nav">
		<div class="row">
			<div class="large-9 columns">
				<p style="text-align: center; font-weight: bold;">PAYROLL</p>
			</div>
			<div class="large-3 columns">
				<p>Menu</p>
			</div>
		</div>
	</div>
	

	<div id="main-content">
			{% block content %}{% endblock %}
	</div>

	 <script src="{% static "profiles/js/vendor/jquery.js" %}"></script>
     <script src="{% static "profiles/js/foundation.min.js" %}"></script>
     <script src="{% static "profiles/js/main.js" %}"></script>
     <script src="{% static "profiles/js/moment.js" %}"></script>
     <script src="{% static "profiles/js/select2.full.min.js" %}"></script>
     <script src="{% static "profiles/js/jquery.datetimepicker.js" %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
 	<script>
 	    moment().format();
 	</script>
     <script>
       $(document).foundation();
     </script>

</body>
</html>
