{% extends 'occupancy/base.html' %}

{% block content %}
<div class="global-content">
	<div id="content-day">
		<p id="super-text">{{request.user.first_name }} {{ request.user.last_name }}</p>
		<div class="row">
			<ul class="button-group even-3">
				  <li><a href="#" class="button">Yesterday</a></li>
				  <li><a href="#" class="button">Month</a></li>
				  <li><a href="#" class="button">Last Week</a></li>
</ul>
		</div>

		<br>
		<br>
		<div id="content-table-day">
			<table>
				<thead>
					<tr>
						<th>Payroll ID</th>
						<th>Name</th>
						<th>Calls</th>
						<th>Conversation Time</th>
						<th>AHT</th>
						<th>Operational Time</th>
						<th>OCC</th>
						<th>Payroll</th>
					</tr>
				</thead>
				<tbody id="payday-BodyTable">
				</tbody>
			</table>
			{% if request.user.is_staff %}
			{% else %}
			<div>
				<button id="payday-check" class="button-orange">Check</button>
				<button id="comment-button" class="button-orange">Comment</button>
			</div>
			<div class="comment-content">
				<textarea class="comment" name="comment" id="comment-text" rows="8" cols="40"></textarea>
				<button id="send-comment" class="button-orange">Send Comment</button>
			</div>

			{% endif %}
		</div>

	</div>
</div>
{% endblock content%}

CC01A011 Valenzuela Ana Porras
