{% extends 'occupancy/base.html' %}

{% block content %}
<div class="global-content">
	<div id="content-day">
		<p id="super-text">{{request.user.first_name }} {{ request.user.last_name }}</p>
		<div id="fecha">
			<p style="width: 50px; float: left;">Date:</p>
			<input type="text" class="date-select">
			<a href="" id="payday-Reload">Reload</a>
		</div>

		<br>
		<br>
		<div id="content-table-day">
			<table>
				<thead>
					<tr>
						<th>Payroll ID</th>
						<th>Name</th>
						<th>Scheduled Time</th>
						<th>Adjusted</th>
						<th>Softphone</th>
						<th>Avaya</th>
						<th>Aux</th>
						<th>Total</th>
						<th>Abbr</th>
					</tr>
				</thead>
				<tbody id="payday-BodyTable">
				</tbody>
			</table>
			<div>
				<a href="#" id="checkpay">Check</a>
			</div>
		</div>
	</div>
</div>
{% endblock content%}
