<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load staticfiles %}
    <title>Payroll</title>
    <link rel="stylesheet" href="{% static "profiles/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/style.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/jquery.datetimepicker.css" %}">




</head>
<body>
	<div id="nav">
		<div class="row">
			<div class="large-12 large-centered columns">
				<p style="text-align: center; font-weight: bold;">PAYROLL</p>
			</div>
		</div>
	</div>
	<div id="content-day">
		<p id="super-text">{{request.user.first_name }} {{ request.user.last_name }}</p>
		<div id="fecha">
			<p style="width: 50px; float: left;">Date:</p>
			<input type="text" class="date-select">
			<a href="" id="payday-Reload">Reload</a>
		</div>

		<br>
		<br>
		<div id="content-table-day">
			<table>
				<thead>
					<tr>
						<th>Payroll ID</th>
						<th>Name</th>
						<th>Scheduled Time</th>
						<th>Adjusted</th>
						<th>Softphone</th>
						<th>Avaya</th>
						<th>Aux</th>
						<th>Total</th>
						<th>Abbr</th>
					</tr>
				</thead>
				<tbody id="payday-BodyTable">
				</tbody>
			</table>
			<div>
				<a href="#" id="checkpay">Check</a>
			</div>
		</div>
	</div>

	<script src="{% static "profiles/js/vendor/jquery.js" %}"></script>
    <script src="{% static "profiles/js/foundation.min.js" %}"></script>
    <script src="{% static "profiles/js/moment.js" %}"></script>
    <script src="{% static "profiles/js/select2.full.min.js" %}"></script>
    <script src="{% static "profiles/js/jquery.datetimepicker.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static "profiles/js/main.js" %}"></script>
	<script>
	    moment().format();
	</script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
